

.main .block-container {
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.stMainBlockContainer {
    max-width: 95% !important;
}

.stSideBarContent {
    max-width: 100% !important;
}


.main .block-container > div {
    max-width: 80rem;
}


button[kind="primary"] {
    background-color: #EA1C0A !important;
    border-color: #EA1C0A !important;
    color: white !important;
}

button[kind="primary"]:active,
button[kind="primary"]:focus {
    background-color: #EA1C0A !important;
    border-color: #EA1C0A !important;
    box-shadow: 0 0 0 0.2rem rgba(234, 28, 10, 0.5) !important;
}

[data-testid="stMetricDelta"]:has(span[style*="color: rgb(255, 75, 75)"]) {
    color: #EA1C0A !important;
}


.stProgress > div > div > div {
    background-color: #EA1C0A !important;
}